:root {
    --primary-color: rgb(98, 152, 253) ;
    --bg-color: #130f0d;
    --text-color: #f0f0f5;
    --light-color: rgba(255, 255, 255, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;

}
#opacity{

    background-image: url('../images/tianjin-2185510_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #f0f0f5;
    background-attachment: fixed;
}
#formulario1{
    display: block;
    margin-top: 20vh;
}#formulario{
    margin-top: 20vh;
}
#formulario2{
    margin-top: 20vh;
    display: none;
}
@media (max-width: 700px){

    #formulario,#formulario2,#formulario1{
        margin:20vh 5vh 0 5vh;
    }

}
@media (max-width: 4000px){
    #formulario,#formulario2,#formulario1{
        margin:5vh 0;
    }
    #opacity{
        min-height: 100vh;
        background-image: url('../images/tianjin-2185510_1920.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        color: #f0f0f5;
    }
}
form {
    background: rgba(0,0,0,0.9);
    width: 100%;
    max-width: 600px;
    margin: auto auto;
    padding: 32px 64px;
    outline: 0;
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button,textarea,select {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* box */
    width: 100%;

    padding: 16px 0;

    border:none;
    border-bottom: 1px solid var(--primary-color);

    background-color: transparent;

    outline: none;

    /* text */
    color: var(--text-color);
    font-size: 1em;

}
option{
    color:#010101;
}

button {
    margin-top: 16px;
    background-color: var(--primary-color);
    color: black;
}
button:hover{
    background-color: rgb(49, 121, 253) ;
}
input ~ label {
    position: absolute;
    top: 16px;
    left: 0;
    transform: translateY(-24px);
    color: rgba(255, 255, 255, 0.6) ;

}select ~ label {
    position: absolute;
    top: 10px;
    left: 0;
    transform: translateY(-24px);
    color: rgba(255, 255, 255, 0.6) ;

}
textarea ~ label {
    position: absolute;
    top: 16px;
    left: 0;
    transform: translateY(-24px);
    color: rgba(255, 255, 255, 0.6) ;

}
.error {
    border: 1px solid rgba(255, 0, 0, 0.5);
    padding: 0.4em;
}
a{
    font-size: 1rem;
    color: white;
}

a:hover{
    color:  rgb(98, 152, 253) ;
    cursor: pointer;
}
.social_icon span a{
    font-size: 3rem;
    color: white;
    margin: 50px;
}

.social_icon{
    margin-right: auto;
    margin-bottom: auto;

}
.social-icons{
    text-align: center;
    margin-top: 20px;
}